/* line 5, ../scss/io2013.scss */
* {
  line-height: 1.3;
}

/* line 9, ../scss/io2013.scss */
h2 {
  font-weight: bold;
}

/* line 12, ../scss/io2013.scss */
h2, h3 {
  color: #515151;
}

/* line 16, ../scss/io2013.scss */
q, blockquote {
  font-weight: bold;
}

/* line 20, ../scss/io2013.scss */
slides > slide {
  color: #515151;
}
/* line 24, ../scss/io2013.scss */
slides > slide.title-slide:after {
  content: '';
  background: url(../../images/cc-by.png) no-repeat 100% 50%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  position: absolute;
  bottom: 80px;
  right: 40px;
  width: 100px;
  ;
}
/* line 36, ../scss/io2013.scss */
slides > slide.title-slide hgroup h1 {
  font-weight: bold;
  line-height: 1.1;
}
/* line 40, ../scss/io2013.scss */
slides > slide.title-slide hgroup h2, slides > slide.title-slide hgroup p {
  color: #515151;
}
/* line 43, ../scss/io2013.scss */
slides > slide.title-slide hgroup h2 {
  margin-top: 0.25em;
}
/* line 46, ../scss/io2013.scss */
slides > slide.title-slide hgroup p {
  margin-top: 3em;
}

.logoslide img {
  width:600px;
  height:112px;

}

.thank-you-slide {
  background: #FFF500 !important;
  color: #000;
}
[data-config-contact] a {
  color: #333333;

}

slides > slide:not(.nobackground):before {
 /* background: url(../../images/lnu-symbol-128.png) no-repeat 0 50%;*/
}

slides > slide.lnu {
  background: #FFF500 !important;
}

.segue h2{
  color:#000;
}

.segue h3{
  color:#333;
}

.box-white {
  position:absolute;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.4);
}

.box-yellow {
  position:absolute;
  padding: 10px 20px;
  background: rgba(255, 254, 0, 0.9);

}

.box-black {
  position:absolute;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 1);
  color: #FFF;
}

.box-black a{
  color:white;
}
.box-black a:hover{
  color:yellow !important;
}

.line {
  border-left: 1px solid;
  padding:20px;

}

.right { right: 100px; text-align: right}

img.polaroid {
 

}

.shadow{
-webkit-box-shadow: 10px 10px 200px 10px rgba(0,0,0,1);
box-shadow: 10px 10px 200px 10px rgba(0,0,0,1);

}

.source{
  display:inline;
}

#presentationlink {
  position: aboslute;
  top:20px;
  left: 20px;
}
